.navbar__main {
    margin: 0 50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.navbar__item__main {
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease;
    color: #5a5a5a;
}

.navbar__item__main:hover {
    color: rgb(0, 0, 0);
}

.navbar__toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);
    width: 30px;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -6px);
    width: 30px;
}

.navbar__items {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 900px) {
    .navbar__items {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 140px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .navbar__items.active {
        max-height: 500px;
        opacity: 1;
    }

    .navbar__toggle {
        display: flex;
    }
}

@media screen and (max-width: 1100px) {
    .navbar__main {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .navbar__main {
        margin: 0;
    }
}

/* Добавляем классы для разных режимов отображения */
.navbar__items.alwaysBurger {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 140px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.navbar__items.alwaysBurger.active {
    max-height: 500px;
    opacity: 1;
}

.navbar__items.alwaysFull {
    display: flex;
    gap: 20px;
}

.navbar__toggle.alwaysBurger {
    display: flex;
}

.navbar__toggle.alwaysFull {
    display: none;
}