.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    
    overflow-y: auto;
}

.myModalContent {
    position: absolute;
    padding: 20px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
    overflow-x: hidden;
    top: 20px;
}


@media screen and (max-width: 900px) {
    .myModalContent {
        max-width: 95vw;
    }
}



@media screen and (max-width: 450px) {
    .myModalContent {
        padding: 0px;
    }
}

.myModal.active {
    opacity: 1;
    pointer-events: all;
}

.myModal.active .myModalContent {
    transform: scale(1);
}
