/* Общий контейнер */
.music__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ширина основного контейнера */
    margin: 0 auto; /* Центрируем контейнер на странице */
}

/* Контейнер для кнопок */
.music_buttons_container {
    width: 100%; /* Занимает всю доступную ширину */
    margin: 0 auto; /* Центрируем контейнер кнопок */
}

/* Добавляем грид для двух колонок при containerType="image" */
.music_buttons_container.image-grid {
    display: grid;
    justify-content: space-around; /* Располагаем колонки с большим расстоянием */
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Две колонки с минимальной шириной 200px */
    gap: 40px; /* Увеличиваем отступ между элементами */
}

/* Адаптивность для smaller экранов */
@media screen and (max-width: 1050px) {
    .music__container {
        width: 95vw; /* Уменьшаем ширину контейнера для маленьких экранов */
    }

    /* На маленьких экранах всегда одна колонка */
    .music_buttons_container.image-grid {
        grid-template-columns: 1fr; /* Одна колонка */
        gap: 20px; /* Уменьшаем отступы */
    }
}

/* Стандартная кнопка */
.music {
    margin: 30px;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 25px;
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
}

.music:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 5px rgba(78, 78, 78, 0.9);
}

.music_image {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    font-size: 25px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: transform 0.2s ease-in-out;
    transform: scale(1);
}

/* Затемняющая маска */
.music_image::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    border-radius: 15px;
    z-index: 1;
}

.music_image:hover::after {
    opacity: 1;
}

.music_image:hover {
    color: white;
    transform: scale(1.05);
    /* Убрал background-blend-mode и background-color */
}

/* Текст внутри кнопки поверх маски */
.music_image span {
    position: relative;
    z-index: 2;
}


/* Ошибки */
.error {
    color: white;
    font-size: 25px;
}
