.title {
    display: block;
    text-align: center;
}


.main {
    margin: 0 auto;
    max-width: 75vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.member {
    height: 350px;
    width: 250px;
    margin: 50px;
    background-size: cover;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@media  screen and (max-width: 1390px) {
    .member {
        height: 350px;
        width: 250px;
        margin: 25px;
    }
    
}

@media screen and (max-width: 800px) {
    .member {
        height: 450px;
        width: 350px;
        margin: 25px;
    }

    .main {
        flex-direction: column;
    }

    
}

@media screen and (max-width: 410px) {
    .member {
        height: 350px;
        width: 250px;
        margin: 10px;
    }
}