.title {
    display: block;
    text-align: center;
}


.main {
    margin: 0 auto;
    max-width: 75vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.member {
    height: 350px;
    width: 250px;
    margin: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    opacity: 0;

    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

/* Маска затемнения */
.member::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1;
}

.member:hover::after {
    opacity: 1;
}

.member:hover {
    transform: scale(1.05);
}

.member span {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
    pointer-events: none;
}

.member:hover span {
    opacity: 1;
}


@media  screen and (max-width: 1390px) {
    .member {
        height: 350px;
        width: 250px;
        margin: 25px;
    }
    
}

@media screen and (max-width: 800px) {
    .member {
        height: 450px;
        width: 350px;
        margin: 25px;
    }

    .main {
        flex-direction: column;
    }

    
}

@media screen and (max-width: 410px) {
    .member {
        height: 350px;
        width: 250px;
        margin: 10px;
    }
}

@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.animateIn {
    visibility: visible;
    animation: flyIn 0.4s ease-out forwards;
}

.preload {
    visibility: hidden;
    transform: translateY(20px) scale(0.95);
}
